@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: 0, 0, 0;
    --background: 214, 219, 220;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: "red"
        --background: "#F0F0F0"
    }
}

body {
    color: var(--foreground);
    background: var(--background)
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
